@model AtilerCourseWork.Models.Order

@{
    ViewData["Title"] = "AddOrder";
}

<h1>Создать заказ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="@ViewBag.Client"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
                <a class="btn btn-outline-primary" style="margin-top: 5px" asp-action="AddClient">Добавить клиента</a>
            </div>
            <div class="form-group">
                <label asp-for="workerId" class="control-label"></label>
                <select asp-for="workerId" class="form-control" asp-items="@ViewBag.Worker"></select>
                <span asp-validation-for="workerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Reason" class="control-label"></label>
                <textarea asp-for="Product.Reason" class="form-control"></textarea>
                <span asp-validation-for="Product.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.IsRepair" class="control-label"></label>
                <input type = "checkbox" asp-for="Product.IsRepair"/>
                <span asp-validation-for="Product.IsRepair" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
