@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<table class="table">
    <thead>
        <tr>
            <th>
                Должности
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Name
            </td>
        </tr>
    }
    </tbody>
</table>